body {
    font-family: Arial, Sans-Serif;
    margin: 0;
    padding: 0;
}
button{
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 87%);
    padding-top: 3px;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 82%);
}

/* HEADER */

header {
    background-color: hsl(0, 0%, 61%);
    color: white;
    width: 100%;
    padding: 7px 0; 
    display: flex; 
    justify-content: end; 
    align-items: center;
}
header h4 {
    margin: 0; 
    margin-left: 5px;
    font-size: 20px; 
    font-weight: normal; 
}
#cms{
    margin-left: 20px;
    margin-right: auto;
}

/* MAIN */

main h1{
    font-weight: lighter;
    margin-bottom: 0px;
}
main {
    margin-left: 140px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}
.addBtn{
    align-self: flex-end;
    margin-bottom: 15px;
}

/* NAVIGATION BAR */

.navbar{
    background-color: white;
    margin-top: 63px;
    height: 100%; 
    width: 120px;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    overflow-x: hidden;
}
.navbar ul{
    list-style-type: none;
    padding: 15px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 8px;
    display: block;
    text-align: center;
}
.navbar a.active,
.navbar a:hover{
    font-weight: bold;
}
.navbar li{
    float: left;
}

/* TABLE */

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid hsl(0, 0%, 87%);
    text-align: center;
    padding: 8px;
}

/* PAGINATION */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 5px;
    text-decoration: none;
    color: hsl(0, 0%, 20%);
}
.pagination a:hover {
    background-color: hsl(0, 0%, 82%);
}
.pagination a.active{
    background-color: hsl(0, 0%, 61%);
}
.pagination a:hover:not(.active){
    background-color: hsla(0, 0%, 84%, 0.952);
}

/* DROPDOWN MENU */

.dropdown-container{
    display: flex;
}
.dropdown-container button{
    background-color: hsla(0, 0%, 0%, 0);
    border-radius: 5px;
    color: white;
    padding-right: 20px;
    margin-right: 10px;
    border: none;
    display: flex;
    align-items: center;
}
.dropdown-container a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.user-content, 
.notify-content{
    display: none;
    border-radius: 5px;
    background-color: hsl(0, 0%, 95%);
    position: absolute;
    min-width: 130px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.2);
}
.notify-dropdown:hover .notify-content, 
.user-dropdown:hover .user-content{
    display: block;
}
.notify-dropdown:hover button, 
.user-dropdown:hover button{
    background-color:  hsl(0, 0%, 70%);
}
.notify-dropdown a:hover, 
.user-dropdown a:hover{
    border-radius: 5px;
    background-color: hsl(0, 0%, 90%);
}
.notify-dropdown button{
    height: 42px;
    padding-right: 7px;
    padding-left: 17px;
}
#profilePicture{
    width: 40px;
    border-radius: 20px;
}

/* ANIMATION */

.fa-regular.fa-bell.fa-xl{
    margin-right: 10px;
    animation-name: ringing;
    animation-iteration-count: infinite;
    animation-duration: 0.3s;
    animation-direction: normal;
}
@keyframes ringing{
    0% {transform: rotateZ(0deg);}
    25% {transform: rotateZ(30deg);}
    75% {transform: rotateZ(-30deg);}
    100% {transform: rotateZ(0deg);}
}

/* STATUS DOTS FOR TABLE */

.active-dot {
    height: 20px;
    width: 20px;
    background-color: hsl(144, 77%, 42%);
    border-radius: 50%;
    display: inline-block;
}
.inactive-dot {
    height: 20px;
    width: 20px;
    background-color: hsl(0, 0%, 61%);
    border-radius: 50%;
    display: inline-block;
}